{% extends 'base.html' %}
{% block content %}

    {% include 'partials/_navbar.html' %}
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Dockerizing Django
                <i class="fab fa-docker"></i> + <i class="fab fa-python"></i>
            </h1>
            <h5 class="lead">Containers are Awesome 
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </h5>
            <hr class="my-2">
            <p class="">
                <a class="btn btn-primary btn-lg" href="https://sabbir.dev" role="button">Read Some Awesome Blogs!</a>
            </p>
        </div>
    </div>

{% endblock content %}
